<div class="container mt-5" style="background-color:crimson ;width:320px;border-radius:6px;height:320px">
    <h4 class="text-light text-center mt-4" >Change password</h4>
    <form [formGroup]="changepswd">
          
      <div class="form-group">
        <label for="pswd" class="text-light">Old Password:</label>
        <input type="text" class="form-control" id="pswd1" placeholder="Enter Old Password" value="{{opswdd}}" [(ngModel)]="oldpswd" name="Opswd" formControlName="Opswd">
        
        <span class="text-dark" *ngIf="changepswd.controls['Opswd'].dirty && changepswd.hasError('required',' Opswd')">*Password is Required</span>
      </div> 
      <div class="form-group">
        <label for="pswd" class="text-light">New Password:</label>
        <input type="text" class="form-control" id="pswd2" placeholder="Enter New Password" [(ngModel)]="newupswd" name="newpswd" formControlName="newpswd">
        
        <span class="text-dark" *ngIf="changepswd.controls['newpswd'].dirty && changepswd.hasError('required','newpswd')">*Password is Required</span>
      </div> 
      <button type="submit" (click)="Changesubmit()" [disabled]="changepswd.invalid" style="margin-left: 89px;" class="btn btn-primary mb-4 mt-4 ">Submit</button>
      </form>
      </div>
