<div class="container mt-5" style="background-color:crimson ;width:320px;border-radius:6px">
    <h2 class="text-light text-center" >Login Form</h2>
    <form [formGroup]="login">
      
      <div class="form-group">
        <label for="mail" class="text-light">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" [(ngModel)]="umail" name="email" formControlName="email">
        <span class="text-dark" >{{login.controls['email'].errors?.message}}</span>
        <span class="text-dark" *ngIf="login.controls['email'].dirty && login.hasError('required','email')">*Email is Required</span>
      </div>
      
      <div class="form-group">
        <label for="pswd" class="text-light">Password:</label>
        <input type="text" class="form-control" id="pswd" placeholder="Enter Password" [(ngModel)]="upswd" name="pswd" formControlName="pswd">
        <span class="text-dark" >{{login.controls['pswd'].errors?.message}}</span>
        <span class="text-dark" *ngIf="login.controls['pswd'].dirty && login.hasError('required','pswd')">*Password is Required</span>
      </div> 
     
      <div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="remember"> Remember me
        </label>
      </div>
      <button type="submit" (click)="loginsubmit()" [disabled]="login.invalid" class="btn btn-primary mb-4 mt-4 login">Login</button>
      <button type="submit" (click)="signupsubmit()" class="btn btn-primary mb-4 mt-4 sign">Sign Up</button>

    </form>
  </div>
