<div class="container mt-5" style="background-color:crimson ;width:320px">
    <h2 class="text-light text-center">Register form</h2>
    <form [formGroup]="register">
      <div class="form-group">
        <label for="email">FirstName:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" formControlName="fname">
      </div>
      <div class="form-group">
        <label for="email">LastName:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" formControlName="lname">
      </div>
      <div class="form-group">
        <label for="mail">Email:</label>
        <input type="text" class="form-control" id="email" placeholder="Enter email" name="email" formControlName="email">
      </div>
      <div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="remember"> Remember me
        </label>
      </div>
      
      <button type="submit" (click)="signupsubmit(register.value)" class="btn btn-primary mb-4 mt-4 sign">Sign Up</button>

    </form>
  </div>
