<div class="container mt-5" style="background-color:black;width:350px;border-radius:12px;height:500px">
    <img src="https://ps.w.org/simple-user-avatar/assets/icon-256x256.png?rev=2413146" width="100" height="100" class="mt-4" style="border-radius:100% ;margin-left:105px">
    <div>
    <label class="text-light  mt-4" style="margin-left: 50px;"> Full Name:  {{this.share.message}}</label><br>
    <label class="text-light  mt-4" style="margin-left: 50px;"> Email:  {{this.share.message1}}</label><br>
    <label class="text-light  mt-4" style="margin-left: 50px;">Current Password:  {{this.share.message2}}</label><br><br>
    <a  class="btn change text-primary mt-4" (click)="passwordChange()" style="margin-left: 90px;">Change Password</a>


</div>






</div>
