<nav class="navbar navbar-expand-lg  bg-dark">
  <a class="navbar-brand text-danger" href="#" style="font-size: 23px;font-weight: bold;font-family: cursive;">CAKESKART</a>
  <button class="navbar-toggler" type="button" style="background-color: grey;" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mx-auto">
     
      <li class="nav-item">
        <a class="nav-link  text-danger" routerLink="home"  style="font-size:20px;font-weight:bold;" href="#">HOME</a>
      </li>
      <li class="nav-item">
          <a class="nav-link   text-danger"  routerLink="register" style="font-size:20px;font-weight:bold;" href="">SIGN UP</a>
        </li>
      <li class="nav-item">
        <a class="nav-link  text-danger" routerLink="login" style="font-size:20px;font-weight:bold" href="">SIGN IN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  text-danger" routerLink="products" style="font-size:20px;font-weight:bold" href="">PRODUCTS</a>
      </li>
        
</ul>
<span>  <a class="btn btn-danger "   style="width:120px ;margin-right:40px" (click)="logout()" >Sign Out</a></span> 
  </div>  
</nav>

<router-outlet></router-outlet>

<!-- <ul>
  <li *ngFor="let user of users">{{user.title}}</li>
</ul> -->
<!-- <app-dataservice ></app-dataservice>   -->
<div class="container-fluid mt-5"  style="background-color:#0C090A ;">
  <div class="row">
    <div class="col-6 col-sm-6 col-md-3 col-lg-3">
      <h4 class=" ml-4 mt-5" style="color: wheat;font-size: 15px;">INFORMATION</h4><hr style="margin-top: -5px;  background-color: red;width:100px;margin-left: 30px;">
      <p class="ml-4 text-light" >About Us</p>
      <p class="ml-4 text-light">Loyality Discount Program</p>
      <p class="ml-4 text-light">Deliver Infprmation</p>
      <p class="ml-4 text-light">FAQ's</p>
      <p class="ml-4 text-light">Privacy Policy</p>
      <p class="ml-4 text-light">Terms & Conditions</p>
      <p class="ml-4 text-light">Copyright And Trademark Policy</p>
     </div>
     <div class="col-6 col-sm-6 col-md-3 col-lg-3">
      <h4 class=" ml-4 mt-5" style="color: wheat;font-size: 15px;">CUSTOMER SERVICE</h4><hr style="margin-top: -5px;  background-color: red;width:100px;margin-left: 49px;">
      <p class="ml-4 text-light" >Contact Us</p>
      <p class="ml-4 text-light">Gift Vouchers</p>
      <p class="ml-4 text-light">Specials</p>
      <p class="ml-4 text-light">Returns</p>
      <p class="ml-4 text-light">Sitemap</p>
     </div>
     <div class="col-6 col-sm-6 col-md-3 col-lg-2">
      <h4 class=" ml-4 mt-5" style="color: wheat;font-size: 15px;">CATAGORIES</h4><hr style="margin-top: -5px;  background-color: red;width:100px;margin-left: 29px;">
      <p class="ml-4 text-light" >All Products</p>
      <p class="ml-4 text-light">Same Day Delivery</p>
      <p class="ml-4 text-light">X-mas Or Newyear Cakes</p>
      <p class="ml-4 text-light">Shape Cakes</p>
      <p class="ml-4 text-light">Kids Cake</p>
      <p class="ml-4 text-light">All Occasions Cakes</p>
      </div>
     <div class="col-6 col-sm-6 col-md-3 col-lg-2">
        <h4 class=" ml-4 mt-5" style="color: wheat;font-size: 15px;">MY ACCOUNT</h4><hr style="margin-top: -5px;  background-color: red;width:100px;margin-left: 29px;">
        <p class="ml-4 text-light" >My Account</p>
        <p class="ml-4 text-light">Order History</p>
        <p class="ml-4 text-light">Wishlist</p>
        <p class="ml-4 text-light">Newsletter</p>
       </div>
       <div class="col-11 col-sm-6 col-md-3 col-lg-2 text-center">
        <h4 class="mt-5 text-center mb-4" style="color: wheat;font-size: 15px;text-align: justify;">CONTACT US</h4>
        <i class="fa fa-volume-control-phone ml-2 mb-3" style="font-size:24px;"></i><span class=" text-light">  8086000608</span><br>
        <i class="fa fa-envelope ml-5" style="font-size:24px"></i><span class=" text-light">  info@cakeskart.in</span><br>
       
      </div>
      </div>
      <div class="row" style="background-color: black;opacity: 0.5;">
        <div class="col pt-3">
          <p class="copyright-text text-white text-center "> &copy; 2012 Cakeskart. All Rights Reserved </p>
        </div>
      </div>
      </div>

