<nav class="navbar navbar-expand-lg  bg-dark">
  <a class="navbar-brand text-danger" href="#" style="font-size: 23px;font-weight: bold;font-family: cursive;">CAKESKART</a>
  <button class="navbar-toggler" type="button" style="background-color: grey;" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mx-auto">
     
      <li class="nav-item">
        <a class="nav-link  text-danger" routerLink="home"  style="font-size:20px;font-weight:bold;" href="#">HOME</a>
      </li>
      <li class="nav-item">
          <a class="nav-link   text-danger"  routerLink="register" style="font-size:20px;font-weight:bold;" href="">SIGN UP</a>
        </li>
      <li class="nav-item">
        <a class="nav-link  text-danger" routerLink="login" style="font-size:20px;font-weight:bold" href="">SIGN IN</a>
      </li>
        
</ul>
  </div>  
</nav>
<!-- <app-home></app-home> -->
<router-outlet></router-outlet>

<!-- <ul>
  <li *ngFor="let user of users">{{user.title}}</li>
</ul> -->
<app-dataservice ></app-dataservice> 
